<configuration>
  <system.webServer>
    <handlers>
      <add name="Flask" path="app.py" verb="*" modules="Python" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Rewrite to Flask" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
